@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,600&display=swap");

body {
  background-image: linear-gradient(to left, #012f5a, #ffffff, #012f5a);
  font-family: "Josefin Slab", serif;
  font-weight: 400;
  font-size: 0.9em;
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 80vw;
  }
}

.background-dark {
  background-color: #111111;
  color: #ffffff;
}

.background-dark li a {
  color: #ffffff !important;
}

.background-light {
  background-color: #ffffff;
  color: #111111;
}

.background-light li a {
  color: #111111;
}

#quote-text {
  color: #8d8d8d;
  font-weight: 600;
  font-size: 2.1em;
}

.fas {
  padding: 1rem;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
  border-radius: 50%;
  background: #474747;
}

.fab {
  padding: 1rem;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
  border-radius: 50%;
  background: #474747;
}

.fab:hover {
  opacity: 0.7;
  cursor: pointer;
}

.fas:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* ------ news panel */

.news-post {
  overflow: hidden;
}

.news-post img {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e5e5e5;
  border: 2px solid #a8a8a8;
  object-fit: cover;
  min-height: 15vh;
  overflow: hidden;
}

.news-post h5 {
  font-size: 0.85em;
}

.news-post-btn {
  background-color: #4b89aa;
  color: #ffffff;
}

.read-more-content {
  /* display: none; */
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* ----- Quick Info Panel */

#quick-info-panel {
  background-image: linear-gradient(#e8e8e8, #ffffff);
}

#quick-info-panel a {
  color: #3da0fd;
  font-weight: 600;
}

.sidepanel-subtext {
  font-size: 1em;
}

/* ----- Pagination Nav */

ul {
  list-style: none;
}

li {
  float: left;
}

.pagination-box {
  background-color: #bdbdbd;
  color: black;
  margin: 3px;
  border: black;
  padding: 5px 9px;
}

/*  ------ sponsors */

#sponsorlist li {
  padding: 1rem;
}

#sponsorlist a img {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e5e5e5;
  border: 2px solid #a8a8a8;
  object-fit: fill;
  height: 7vh;
  width: 10vh;
  padding: 0.8rem;
  overflow: hidden;
}

/* ----- footer */

footer h4 {
  font-weight: 800;
}

footer p {
  color: #b6b6b6;
}

.quote-footer {
  color: #ffffff;
}

.img-crop {
  border: 1px solid #696969;
  float: left;
  width: 100%;
  object-fit: cover;
  padding: 0% !important;
}

.address {
  word-wrap: break-word;
}
